<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/header.css" />

    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="app-logo"><img src="../assets/icons/logo.png" /></div>
      <ul class="menu-items">
        <li>Home</li>
        <li>Shop</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
      <ul class="menu-icons">
        <li><img src="../assets/icons/icon1.png" /></li>
        <li><img src="../assets/icons/icon2.png" /></li>
        <li><img src="../assets/icons/icon3.png" /></li>
        <li><img src="../assets/icons/icon4.png" /></li>
      </ul>
    </nav>
    <div class="banner-card">
      <img
        src="../assets/images/backgroundbanner.png"
        alt="Banner"
        class="banner-image"
      />
      <div class="card-content">
        <h2 class="card-content-title1">New Arrival</h2>
        <h1 class="card-content-title2">Discover Our New Collection.</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis.
        </p>
        <button class="bnr-btn">Buy Now</button>
      </div>
    </div>

    <div class="banner-card2">
      <div class="banner-card2-head">
        <h1>Browse The Range</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="banner-card2-image">
        <div class="banner-card2-image1">
          <img
            src="../assets/images/banner21.png"
            alt="Banner"
            class="banner-image"
          />
          <div class="banner-card2-image-content">Dining</div>
        </div>
        <div class="banner-card2-image1">
          <img
            src="../assets/images/banner22.png"
            alt="Banner"
            class="banner-image"
          />
          <div class="banner-card2-image-content">Living</div>
        </div>
        <div class="banner-card2-image1">
          <img
            src="../assets/images/banner23.png"
            alt="Banner"
            class="banner-image"
          />
          <div class="banner-card2-image-content">Bedroom</div>
        </div>
      </div>
    </div>
    <div class="image-gallary-cmp">
      <h1>Our Products</h1>
      <div class="image-gallary">
        <div class="gallary-card">
          <img src="../assets/images/gallary1.png" />
         <div class="gallary-content">
          <h3>Syltherine</h3>
          <p>Stylish cafe chair</p>
          <div class="price">
            <p>Rp 2.500.000</p>
            <p>Rp 3.500.000</p>
          </div>
        </div>
        </div>
        <div class="gallary-card">
          <img src="../assets/images/gallary2.png" />
         <div class="gallary-content">
          <h3>Syltherine</h3>
          <p>Stylish cafe chair</p>
          <div class="price">
            <p class="realprice">Rp 2.500.000</p>
            <p class="oldprice">Rp 3.500.000</p>
          </div>
        </div>
        </div>

        <div class="gallary-card">
          <img src="../assets/images/gallary3.png" />
          <div class="gallary-content">
          <h3>Syltherine</h3>
          <p>Stylish cafe chair</p>
          <div class="price">
            <p class="realprice">Rp 3.500.000</p>
           
          </div>
        </div>
        </div>

        <div class="gallary-card">
          <img src="../assets/images/gallary4.png" />
         <div class="gallary-content">
          <h3>Syltherine</h3>
          <p>Stylish cafe chair</p>
          <div class="price">
            <p class="realprice">Rp 2.500.000</p>
            <p class="oldprice">Rp 3.500.000</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
